html, body {
	height: 100%;
	width: 100%;
}
.row {
	margin-right: 0px;
}
/*N-A-W-I-G-A-C-J-A*/
.navbar {
	background: none;
	border: none;
}
.navbar i {
	color: white;
}
.navbar a {
	color: white;
}
.navbar-header {
	float: left;
}
li {
	float: left;
}
/* CZCIONKI */
}
body {
	 font-size: 16px;
	 min-height: 100%;
	 font-family: Georgia;
	 font-weight: 400;
	 font-style: normal;
	 line-height: 25px;
}

h1 {
	 font-size: 60px;
	 text-decoration: bold;
	 line-height: 60px;
	 margin: 0px 0px 15px 0px;
	 font-weight: 400;
	 font-style: normal;
	 font-family: "EB Garamond";
}

h2 {
	 font-size: 28px;
	 line-height: 52px;
	 margin: 0px 0px 25px 0px;
	 font-family: "EB Garamond";
	 font-weight: 400;
	 font-style: normal;
}
p {
	 margin: 0px 0px 25px 0px;
	 text-transform: inherit;
	 font-size: 18px;
	 font-family: "EB Garamond";
	 font-weight: 400;
	 font-style: normal;
}
a {
	color: white;
}
a:hover {
	color: white;
	text-decoration: none;
}
/*H E A D E R*/
.header {
	height: 100%;
	background: url(../img/image1.jpg);
	background-color: white;
	background-size: 1400px;
	background-position: center;
	background-attachment: fixed;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}
.header p {
	color: white;
}
.header h2 {
	color: white;
}
.header .row {
	padding-top: 15%;
}
/*A N I M A C J E*/
/* Icon Fade */
.fa {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 1em;
}
.fa:before {
  content: "\f00c";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color;
  transition-property: color;
}
.fa:hover:before, .hvr-icon-fade:focus:before, .hvr-icon-fade:active:before {
  color: #2DA041;
}
.menu .fa:hover:before, .hvr-icon-fade:focus:before, .hvr-icon-fade:active:before {
  color: white;
