@mixin meyer-reset {
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  // HTML5 display-role reset for older browsers
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote {
    &:before, &:after {
      content: "";
      content: none;
    }
  }
  q {
    &:before, &:after {
      content: "";
      content: none;
    }
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}

@include meyer-reset;

// Stylesheet
html, body {
  height: 100%;
  background-color: #30303B;
}
a {
  text-decoration: none;
}
p {
  font-size: 10pt;
}
h1 {
  font-family: "Helvetica Neue";
  color: white;
  font-size: 18pt;
  font-weight: 300;
}
li {
  font-family: "Helvetica Neue";
  color: #A2ABBD;
  display: flex;
  display: -webkit-flex;
  border-bottom: 1px solid #3f3f48;
  list-style: inherit;
  margin-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.container {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  height: 100%;

    .header {
      background-color: #EDAE61;
      flex-grow: 1;
      -webkit-flex-grow: 1;
      flex-shrink: 0;
      -webkit-flex-shrink: 1;
      min-height: 60px;
      display: flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      align-items: center;

      img{
        height: 30px;
      }
      .off {
        flex-grow: 1;
        -webkit-flex-grow: 1;
        text-align: center;
      }
      .before {
        flex-grow: 1;
        -webkit-flex-grow: 1;
        text-align: center;
      }
      .header-text {
        flex-grow: 3;
        -webkit-fkex-grow: 3;
        text-align: center;
      }
    }

    .list {
      flex-grow: 6;
      -webkit-flex-grow: 6;
      margin-right: 2em;
      margin-left: 2em;

      .frequency {
        flex-grow: 1;
        -webkit-flex-grow: 1;
        text-align: right;
        font-weight: bold;
      }
      .name {
        flex-grow: 3;
        -webkit-flex-grow: 3;
      }

      .nowplaying {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
        .next, .previous {
          flex-grow: 1;
          -webkit-flex-grow: 1;
          text-align: center;
          -webkit-flex-align: center;
          img {
            height: 30px;
          }
        }
        .station {
          flex-grow: 3;
          -webkit-flex-grow: 3;
          text-align: center;
          -webkit-flex-align: center;
          img {
            height: 160px;
        }
      }
    }
  }

  .bottom {
    background-color: #22222c;
    border-top: 2px solid #4d505c;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    position:fixed;
    padding-top: 1em;
    left:0px;
    bottom:0px;
    height:50px;
    width:100%;

    .playing {
      height: 60px;
      .currently {
       color: #EDAE61;
       text-align: center;
       font-family: "Helvetica neue";
       font-size: 10pt;
       .name {
         font-size: 16pt;
         color: #A2ABBD;
         }
       }
    }
  }
}
