html, body {
	height: 100%;
	width: 100%;
	margin: 0 0 0 0;
}

.row {
	margin: 0 0 0 0;
}
/* CZCIONKI */
h1 {
	 text-transform: inherit;
	 line-height: 32px;
	 font-size: 36px;
	 font-family: "Lora";
	 color: black;
	 font-weight: 700;
	 font-style: normal;
}
h2 {
	border-bottom: 2px solid white;
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
	width: 100px;
	box-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}
h3 {
	font-family: "Lora";
	font-size: 18px;
	color: black;
	font-weight: 700;
	font-style: normal;
}
p {
	 text-transform: inherit;
	 font-size: 16px;
	 font-family: "Lora";
	 color: white;
	 font-weight: 400;
	 font-style: italic;
}
a {
	font-size: 16px;
	font-family: "Lora";
	text-decoration: none;
	color: black;
}
.thumbnail .caption {
	padding: 0px;
}
a:hover {
	text-decoration: none;
	background-color: yellow;
	color: black;
}
a:active {
	text-decoration: none;
	color: black;
}
.thumbnail {
	border: none;
}
